@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-event-pattern {
    background-image: 
      linear-gradient(to right bottom, rgba(5, 5, 5, 0.90), rgba(5, 5, 5, 0.98)), 
      url('https://images.unsplash.com/photo-1514525253161-7a46d19cd819?auto=format&fit=crop&q=80&w=2000');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
/* Estilos generales y utilidades personalizadas */

/* Estilos de Barra de Desplazamiento Ultra-Premium */
::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar,
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track,
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb,
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(245, 158, 11, 0.3); /* Brillo ámbar al pasar el cursor */
  border-color: rgba(245, 158, 11, 0.2);
}

/* Compatibilidad universal para Firefox */
*,
.custom-scrollbar,
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}